.big{
  font-size:22px;
}

.event-schedule {
  color: white;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  margin: 0; /* 不要な外側の余白を削除 */
}

.event-details {
  display: flex;
  flex-direction: column;
  align-items: center; /* コンテンツを中央揃え */
  gap: 10px;
}

.event-kikan {
  display: flex;
  margin-bottom: 10px; /* 各行の間隔 */
  font-size: 22px;
}

.event-row {
  display: flex;
  justify-content: space-between;
  width: 350px; /* 日付と時間の幅を調整 */
  margin-bottom: 10px; /* 各行の間隔 */
}

.event-location {
  margin-top: 20px; /* 開催日時と場所の間隔 */
  font-size: 16px;
  color:white;
  text-align: left;
  padding-left:20px;
  padding-right:20px;
}

.event-label {
  text-align: left;
}

.event-date-time {
  display: flex;
  flex-direction: column;
}

.event-row span:first-child {
  margin-right: 20px; /* 日付と時間の間隔 */
}

.event-location p {
  margin: 10px 0; /* 各行の間隔を整える */
}

.morebutton {
  display: flex;
  justify-content: flex-end; /* 子要素を右寄せ */
  padding-right: 25px; /* 必要に応じて余白を追加 */
}
